app-mini-cards{
  margin: 20px;
}

.produts__container{
  display: flex;
  flex-direction: column;

  background: linear-gradient(to right, #05353d, #80e7d7, #6ecde9, #062f47 );
  color: white;
  text-shadow: 2px 2px 2px black;

}

.produts__elements{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
