.home__container {
  position: static; /* Começa como absoluto */
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 80px;
  align-items: center;
  padding: 10px 0px ;
  justify-content: space-between;
  background-color: rgb(0, 255, 115);
  color: black;
}

.home__container.fixed {
  position: fixed;
  top: 0;
  width: 99vw;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Efeito de sombra ao fixar */
  transform: translateY(10); /* Suaviza o movimento */
}



.home__logo {
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  height: 50px;
  min-width: 30%;
  max-width: 100%;
  justify-content: center;
}

.home__logo > a {
  margin-left: 15px;
  height: 70px;
  width: 110px;
}

.home__logo > a > img{
  border-radius: 15px;
  height: 60px;
  width: 110px;
}
.home__search {
  display: flex;
  flex-direction: column;

  margin: 15px;
  min-width: 30%;
}

.home__search > div {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  width: 100%;
}

.home__search > div > input[type="search"]{
  width: 100%;

  outline: none;
  padding: 5px;
  border: 1px solid silver;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

.home__search > div> input[type="search"]:focus{
  box-shadow: 0px 2px 8px rgba(0, 195, 255, 0.726); /* Aplica uma sombra sutil ao redor */
  outline: none;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}


.home__search > div > button{
  width: 30px;
  height: 30px;
  padding: 0px 5px;
  background-color: silver;
  border: 1px solid silver;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.home__search > div > button > img{
  height: 20px;
  width: 20px;
}
.home__search > div > button>img:active{
  position: relative;
  transform: scale(0.9);
}



.home__opt {
  display: flex;
  flex-direction: column;
  align-items: end;
  /* border: 1px solid white; */
  min-width: 30%;
  height: 90%;
  margin: 20px 0px;
}


.home__opt > ul{
  display: flex;
  flex-direction: row;

  align-items: center; /*QUANDO COLUMN ALINHA HORIZONTALMENTE*/
  justify-content: space-between; /*QUANDO COLUMN ALINHA VERTICALMENTE*/

  min-width: 90%;
  gap: 20px;
}

.home__opt > ul > a {
  background-color: rgba(0, 174, 255, 0.411);
  padding: 0px 10px;
  border-radius: 15px;
  text-decoration: none;
  color: inherit;
  font-size: 150%;
}

.home__opt > ul > a:hover {
  text-shadow: 0px 2px 5px rgb(255, 255, 255); /* Aplica uma sombra sutil ao redor */
  font-weight: 600;
  transform: scale(1.1);
  transition: 0.8s;
}

.home__opt > ul > a > li{
  list-style: none;
}
