<div class="home__container" [ngClass]="{ 'fixed': isFixed }" >
  <div class="home__logo">
    <a [routerLink]="['']" rel="noopener noreferrer">
      <img [src]="logoPage" alt="Logo">
    </a>
  </div>
  <div class="home__search">
    <div>
      <button type="submit" onclick="">
        <img src="assets/img/loupe.png" alt="Search">
      </button>
      <input type="search" placeholder="Tudo que procura pode estar aqui!">
    </div>
  </div>
  <div class="home__opt">
    <ul>
      <a [routerLink]="['']">
        <li>StampArt</li>
      </a>
      <a [routerLink]="['products']">
        <li>Produtos</li>
      </a>
      <a [routerLink]="['shopping-cart']">
        <li>Carrinho</li>
      </a>
      <a [routerLink]="['about']">
        <li>Sobre Nós</li>
      </a>
    </ul>

  </div>
</div>
