<div class="categories__container">
  <h1>Categorias</h1>
  <div class="category__filter">
    <!-- Botões para cada categoria -->
    <button *ngFor="let category of categories" (click)="filterByCategory(category)">
      {{ category | titlecase }}
    </button>
  </div>

  <div class="categories__content" *ngIf="selectedCategory">
    <h2>{{ selectedCategory | titlecase }}</h2>
    <div class="content__cards">
      <!-- Exibindo os produtos da categoria selecionada -->
      <div *ngFor="let product of selectedProducts">
        <img [src]="product.imagem" alt="{{ product.titulo }}" />
        <h3>{{ product.titulo }}</h3>
        <p>{{ product.descricao }}</p>
        <p>{{ product.valor | currency:'BRL' }}</p>
      </div>
    </div>
  </div>
</div>
