<div class="categories__container">
  <h1>Categorias</h1>
  <div class="category__filter">
    <!-- Botões para cada categoria -->
    <button *ngFor="let category of categories" (click)="filterByCategory(category)">
      {{ category | titlecase }}
    </button>
  </div>

  <div class="categories__content" *ngIf="selectedCategory">
    <h2>{{ selectedCategory | titlecase }}</h2>
    <div class="content__cards">
      <!-- Exibindo os produtos da categoria selecionada -->
      <div *ngFor="let product of selectedProducts">
        <app-mini-cards
        [id]="product.id"
        [img]="product.imagem"
        [titulo]="product.titulo"
        [descricao]="product.descricao"
        [oldPrice]="product.valor"
        [currentPrice]="product.valor"
      />
      </div>
    </div>
  </div>
</div>
