<div class="about__container">
  <div class="presenting">
    <h1>Somos a StampArt</h1>
    <p>Sempre em busca de qualidade e preços acessíveis</p>
  </div>
  <div class="about_target">
    <!-- <h1>Consolidados Desde...</h1> -->
    <div class="target_img">
      <img [src]="presenting_img" alt="img apresentacao">
    </div>
    <div class="target_content">
      <h1>Missao</h1>
      <p>{{missao}}</p>
      <h1>Visao</h1>
      <p>{{visao}}</p>
      <h1>Valores</h1>
      <p>{{valores}}</p>
    </div>
  </div>
  <div class="about_help">
    <app-contact
    celular="41995368320"
    email="andrefelipe.silk@gmail.com"
    facebook="https://www.facebook.com/WhatsAppBiz"
    instagram="https://www.instagram.com/whatsappbusiness"
    />
    <app-suport/>
  </div>
</div>
