<div class="elements__container">
  <div class="elements__content" *ngIf="(qtd!=0)">
    <div class="product-check"><input type="checkbox"></div>
    <div class="elements__products">
      <a [routerLink]="['/content', id]">
        <img src="{{prodImg}}" alt="Img Prod" class="img-prod">
        <p>{{prodName}}</p>
      </a>
    </div>
    <div class="button-qtd">
      <button (click)="decreaseQtd()" class="change">-</button>
      <p>{{qtd}}</p>
      <button (click)="increaseQtd()" class="change">+</button>
    </div>
    <div class="elements__price">
      <p>R$ {{formatBrl.formatBrl(price)}}</p>
      <h4>R$ {{formatBrl.formatBrl(priceTotal)}}</h4>
    </div>
  </div>
</div>
