.elements__container {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  overflow: hidden;
}

.elements__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.486);
  padding: 5px 10px; /* Reduzi o padding */
  gap: 10px; /* Reduzi o espaço entre os elementos */
}

/* Checkbox */
.product-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Coluna Produto */
.elements__products {
  display: flex;
  align-items: center;
  flex: 2; /* Permite que o nome do produto ocupe mais espaço */
}

.elements__products > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  flex-wrap: nowrap;
}

.elements__products > a > img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  flex-shrink: 0;
}

.elements__products > a > p {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 5px; /* Reduzi o espaçamento ao redor do texto */
}

/* Quantidade */
.button-qtd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.change {
  width: 30px;
  height: 25px;
  font-size: 16px;
  background-color: #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.change:hover {
  background-color: #e0e0e0;
  font-weight: 600;
}

.button-qtd p {
  font-weight: bold;
}

/* Preços */
.elements__price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.elements__price > h4,
.elements__price > p {
  margin: 0 5px; /* Reduzi a margem dos preços */
}
