<div class="main__container" [ngStyle]="{
  'background-image': 'url('+img+')',
  'background-repeat': 'no-repeat',
  'background-size': 'cover',
  'background-position': 'center center'
  }">
  <div class="content">
    <h1> {{title}}</h1>
    <p>{{phrase}}</p>
  </div>
  <div class="type">
    <button onclick="$">{{buttonProducts}}</button>
  </div>
  <div class="main__cards" >
    <div class="cards">
      <app-destaques
        [titleDst]="titleDst"
        [descrptDst]="descrptDst"
        [typeDst]="typeDst"
        [imgDst]="imgDst"
      />
      <app-destaques
      [titleDst]="titleDst1"
      [descrptDst]="descrptDst1"
      [typeDst]="typeDst1"
      [imgDst]="imgDst1"
      />
      <app-destaques
      [titleDst]="titleDst2"
      [descrptDst]="descrptDst2"
      [typeDst]="typeDst2"
      [imgDst]="imgDst2"
      />
    </div>
  </div>
</div>
