app-elements{
  min-width: 50vw;
  }
app-resulted{
  width: 40vw;
  min-height: 40vh;
}
.shopping__container{
  background: linear-gradient(to right, #05353d, #80e7d7, #6ecde9, #062f47 );

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.shopping__title>h2{
  margin:20px 20px
}
.shopping__info{
  display: flex;
  flex-direction: column;
  min-width: 50%;
  min-height: 80vh;
  margin: 10px 20px;
  border-radius: 20px;
  border: 3px solid rgb(59, 59, 59);
  background-color: rgba(211, 211, 211, 0.5);
}

.resulted{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 10px 20px;
  min-height: auto;
  border: 3px solid rgb(59, 59, 59);
  background-color: rgba(211, 211, 211, 0.5);
}
