<div class="shopping__container">
  <div class="shopping__info">
    <div class="shopping__title">
      <h2>My Shopping List </h2>
    </div>
    <app-elements
    *ngFor="let product of products "
    [id]="product.id"
      [prodImg]="product.img"
      [prodName]="product.titulo"
      [qtd]="product.qtd"
      [price]="product.valor"
      (updateQtd)="updateQtd(product.id, $event)"
      />
  </div>
  <div class="resulted">
    <app-resulted
      [price]="totalPrice"
      [qtd]="totalQtd"
      [desc]=0>
    </app-resulted>
  </div>
</div>
