app-elements{
  width: 60vw;}
app-resulted{
  width: 20vw;
  height: 300px;
  margin: 20px;
  /* border: 1px solid green; */
}
.shopping__container{
  margin-top: 85px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shopping__title>h2{
  margin:20px 20px
}
.shopping__info{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50px;
  width: auto;
  min-width: 50%;
  min-height: 80vh;
  margin: 10px 20px;
  border-radius: 20px;
  border: 3px solid rgb(87, 87, 87);
  background-color: silver;
}

.resulted{
  display: flex;
  flex-direction: column;
  height: 300px;
  position: fixed;
  right: 50px;
  top: 90px;
  /* position: absolute;
  right: 0; */
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  border-radius: 20px;
  border: 3px solid rgb(87, 87, 87);
  background-color: silver;

}
