<div class="home__container">
  <div class="home__logo">
    <a [routerLink]="['']" rel="noopener noreferrer">
      <img src="assets/img/Stamp_art_cover.jpg" alt="" srcset="">
    </a>
  </div>
  <div class="home__search">
    <div>
      <button type="submit" onclick="">
        <img src="assets/img/loupe.png" alt="Search">
      </button>
      <input type="search" placeholder="Tudo que procura pode estar aqui!">
    </div>
  </div>
  <div class="home__opt">
    <ul>
      <a [routerLink]="['products']">
        <li>Products</li>
      </a>
      <a [routerLink]="['shopping-cart']">
        <li>Shopping Cart</li>
      </a>
      <a [routerLink]="['about']">
        <li>About Us</li>
      </a>
    </ul>

  </div>
</div>
